:host {
    /* display: block; */
    position: relative;
    /* overflow: hidden;
    width: 100%;
    padding-top: 56.25%; */
    /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

iframe {
    background: transparent;
    border: none;
    color: #eee;
    /* position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; */
    width: 100%;
    height: calc(100% - 5px);
}

.error {
    display: grid;
    justify-content: center;
    text-align: center;
    place-content: center;
    height: 100%;
}


* {
  scrollbar-width: none;
  scrollbar-color: #3d3d3d #171717;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #171717;
}

*::-webkit-scrollbar-thumb {
  background-color: #3d3d3d;
  border-radius: 0px;
  border: 0px solid #ffffff;
}