@import url('../../../../../node_modules/leaflet/dist/leaflet.css');

:host {
  display: block;
}

#map-con {
  height: 180px;
}

.leaflet-contextmenu {
  background: white;
  padding: 0.5em;
  color: black;
  border-radius: 2px;
}
